/* globals.css */

.docx-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.docx {
  /* background: #fff; */
  /* box-shadow: 0 2px 12px rgba(0,0,0,0.08); */
}

/* Prevent pages from exceeding container width; shrink if needed */
.docx {
  max-width: 100%;
}

.docx:first-child {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
